html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.problem {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-image: url('images/parchment1.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  height: 900px; 
  width: 800px;

  text-align: center;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  gap: 20px;
  font-size: 1.2rem;
}

.statement {
    color: black;
}

input[type="text"] {
    background: transparent;
    outline: none;
    border: none;
    text-align: center;
  font-size: 1.2rem;
}

